@import "vars";

.Content {
  display: flex;
}

.Explore {
  width: $column-width;
  padding: 20px;
  background: #efefef;

  &-title {
    margin-top: 20px;
    font-size: 1.8em;
    color: $blue;
  }

  &-form {
    padding: 20px 0;

    &-field {
      padding: 20px 0;

      label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 1.1em;
      }

      select {
        -webkit-appearance: none;
        display: block;
        width: 100%;
        margin: 0;
        padding: 10px;
        color: #626262;
        background-color: white;
        border: solid 1px #dddddd;
        border-radius: 0;
        cursor: pointer;
        font-size: 1em;
      }
    }
  }

  &-believe {
    display: block;
    margin: auto;
  }
}

.Properties {
  flex-grow: 1;

  &-list {
    display: flex;
    flex-wrap: wrap;
    margin: -3px;

    &-wrapper {
      display: block;
      width: 50%;
      height: 270px;
      padding: 3px;
    }

    &-item {
      display: block;
      width: 100%;
      height: 100%;
      text-decoration: none;
      overflow: hidden;

      &-picture {
        background-size: cover;

        &,
        &:after {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        }

        &:after {
          content: "";
          display: block;
          background: black;
          opacity: 0;
        }
      }

      .Properties-list-item-picture:after,
      .Properties-box {
        transition: all 300ms ease;
      }
      &:hover {
        .Properties-list-item-picture:after,
        .Properties-box {
          transition: all 300ms ease;
        }

        .Properties-list-item-picture:after {
          opacity: 0.5;
        }

        .Properties-box {
          bottom: 10px;
        }
      }
    }
  }

  &-box {
    position: absolute;
    display: flex;
    width: 300px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: $blue;
    background: white;
    box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.9);

    &-price {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 10px;
      font-size: 1.2em;
      text-align: right;
      line-height: 1;

      strong {
        font-size: 1.4em;
        font-weight: bold;
      }
    }

    &-description {
      flex-grow: 1;
      padding: 10px;
      text-transform: uppercase;
      background: linear-gradient(
        to right,
        transparentize($orange, 0.6) 0%,
        white 100%
      );

      &-title {
        font-size: 1.2em;
      }
    }
  }
}
