@import "vars";

.Content {
  display: flex;
}

.Explore {
  width: $column-width;
  padding: 20px;
  background: #efefef;

  &-title {
    margin-top: 20px;
    font-size: 1.8em;
    color: $blue;
  }

  &-form {
    padding: 20px 0;

    &-field {
      padding: 20px 0;

      label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 1.1em;
      }

      select {
        -webkit-appearance: none;
        display: block;
        width: 100%;
        margin: 0;
        padding: 10px;
        color: #626262;
        background-color: white;
        border: solid 1px #ebebeb;
        cursor: pointer;
        font-size: 1em;
      }
    }
  }

  &-believe {
    display: block;
    margin: auto;
  }
}

.Properties {
  flex-grow: 1;

  &-list {
    display: flex;
    flex-wrap: wrap;
    margin: -3px;

    &-wrapper {
      display: block;
      width: 50%;
      height: 270px;
      padding: 3px;
    }

    &-item {
      display: block;
      width: 100%;
      height: 100%;
      // background-size: cover;
      background-size: 100% 100%;
      background-position: center center;
      text-decoration: none;

      &:hover {
        background-size: 105% 105%;
      }

      &,
      &:hover {
        transition: all 500ms ease;
      }
    }
  }

  &-box {
    position: absolute;
    display: flex;
    width: 300px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: $blue;
    background: white;

    &-price {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 10px;
      font-size: 1.2em;
      text-align: right;
      line-height: 1;

      strong {
        font-size: 1.4em;
        font-weight: bold;
      }
    }

    &-description {
      flex-grow: 1;
      padding: 10px;
      text-transform: uppercase;
      background: linear-gradient(
        to right,
        transparentize($orange, 0.6) 0%,
        white 100%
      );

      &-title {
        font-size: 1.2em;
      }
    }
  }
}
